body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.detail-summary {
  max-width: 125px;
  max-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.logo {
    padding: 10px 10px !important;
    width: 55px;
    height: 55px;
}

.app-label {
  line-height: inherit;
}

.loading-component {
  position: fixed !important;
  margin: auto !important;
  width: 40px;
  height: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}

.add-post-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
  word-wrap: break-word;
  font-weight: 600;
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
  word-wrap: break-word;
}

.check-box {
  margin-bottom: 10px;
}